/* CSS reset/normalize plus HTML element styling. */

.dialog-off-canvas-main-canvas {
  position: relative;
  z-index: 1;
}
body.toolbar-vertical [uk-sticky], body.toolbar-horizontal [uk-sticky] {
  top: inherit !important;
}